layout {
    default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                hide_frame_except_for_search "true"

                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                format_left   " {mode} #[fg=#6c7086]│ #[fg=#eba0ac] {session}"
                format_center "{tabs}"
                format_right  "{command_online} #[fg=#6c7086]│ {command_battery} #[fg=#6c7086]│ {datetime}"
                format_space  ""

                format_hide_on_overlength "true"
                format_precedence         "crl"

                tab_normal    "#[fg=#f5e0dc] {index}: {name}{fullscreen_indicator}{sync_indicator}{floating_indicator} "
                tab_active    "#[fg=#1e1e2e,bg=#fab387] {index}: {name}{fullscreen_indicator}{sync_indicator}{floating_indicator} "
                tab_fullscreen_indicator " □"
                tab_sync_indicator       " "
                tab_floating_indicator   " 󰉈"
                tab_separator "#[fg=#6C7086] │ "

                command_online_command    "sh -c 'ping -c1 -W1 1.1.1.1 >/dev/null 2>&1 && echo \"#[fg=#cba6f7]󰖩 on\" || echo \"#[fg=#ed8796]󰖪 off\"'"
                command_online_format     "{stdout}"
                command_online_interval   "10"
                command_online_rendermode "dynamic"

                command_battery_command    "sh -c \"~/.config/zellij/scripts/battstat -f '{i} {p}'\""
                command_battery_format     "#[fg=#f5c2e7]{stdout}"
                command_battery_interval   "60"
                command_battery_rendermode "static"

                datetime          "#[fg=#89b4fa]󰭦 {format} "
                datetime_format   "%d.%m 󰅐 %H:%M"
                datetime_timezone "America/Monterrey"

                mode_normal        "#[fg=#a6da95]NORMAL"
                mode_locked        "#[fg=#6e738d]LOCKED "
                mode_resize        "#[fg=#f38ba8]RESIZE"
                mode_pane          "#[fg=#89b4fa]PANE"
                mode_tab           "#[fg=#b4befe]TAB"
                mode_scroll        "#[fg=#f9e2af]SCROLL"
                mode_enter_search  "#[fg=#8aadf4]ENT-SEARCH"
                mode_search        "#[fg=#8aadf4]SEARCH"
                mode_rename_tab    "#[fg=#b4befe]RENAME-TAB"
                mode_rename_pane   "#[fg=#89b4fa]RENAME-PANE"
                mode_session       "#[fg=#74c7ec]SESSION"
                mode_move          "#[fg=#f5c2e7]MOVE"
                mode_prompt        "#[fg=#8aadf4]PROMPT"
                mode_tmux          "#[fg=#f5a97f]TMUX"
                mode_default_to_mode "tmux"
            }
        }
    }
}
